<%- include ("../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>Welcome to <%=foundUser.username%>'s Dojo</h1>
    <h3>This is the place where evolution is happening</h3>
    <div class="text-center">
        <a class="dojoTags" href="/users/<%=foundUser.username%>/dojo/introduction">Introduction</a><br>
        <a class="dojoTags" href="/users/<%=foundUser.username%>/dojo/quests">Quests</a><br>
        <a class="dojoTags" href="/users/<%=foundUser.username%>/dojo/ideas">Ideas</a><br>
        <a class="dojoTags" href="/users/<%=foundUser.username%>/dojo/dailies">Dailies</a><br>
        <a class="dojoTags" href="/users/<%=foundUser.username%>/dojo/advice">Advice</a>
    </div>
</div>


<%- include ("../../partials/users/userFooter") %>