<%- include("../../partials/header") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="container text-center pastDescription">
            <p>Estas son las recomendaciones de <strong><a href="/users/<%=username%>"><%=username%></a></strong></p>  
        </div>

        <table class="table content">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% userRecommendations.forEach((recommendation) => { %>
                    <tr>
                        <% if(recommendation.status === "future") { %>
                            <td scope="row"><%=recommendation.recommendationDate%></td>
                            <td><%=recommendation.status%></td>
                            <td><%=recommendation.name%></td>
                            <td><%=recommendation.duration%></td>
                            <td><a class="btn-sm btn-warning" role="button" href="/recommendations/<%=recommendation._id%>/edit">Edit</a></td>
                            <form class="delete-form" id="delete-form" action="/recommendations/<%=recommendation._id%>?_method=DELETE" method="POST">
                                <td><button type="submit" class="btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></td>
                            </form>
        
                        <% } else { %>
                            <td scope="row"><%=recommendation.recommendationDate%></td>
                            <td><%=recommendation.status%></td>
                            <td> <a class="recommendationAnchorTag" href="/recommendations/<%=recommendation._id%>"><%=recommendation.name%></a></td>
                            <td><%=recommendation.duration%></td>
                            <td><a class="btn-sm btn-warning" role="button">Edit</a></td>
                            <form class="delete-form" id="delete-form" action="/recommendations/<%=recommendation._id%>?_method=DELETE" method="POST">
                                <td><button type="submit" class="btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></td>
                            </form>
                        <% } %>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
    <div class="column right"></div>
</div>

<%- include("../../partials/footer") %>