<%- include ("../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>This is the recommendations page of <%=username%></h1>
</div>

<table class="table userRecommendationsTableBody">
    <thead>
        <tr>
            <th scope="col">Recommendation Date</th>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
        <% userRecommendations.forEach((recommendation) => { %>
            <tr>
                <td scope="row"><%=recommendation.recommendationDate%></td>
                <td><%=recommendation.status%></td>
                <td> <a class="recommendationAnchorTag" href="/users/<%=username%>/recommendations/<%=recommendation._id%>"><%=recommendation.name%></a></td>
                <td><%=recommendation.duration%></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-success" role="button" href="/users/<%=username%>">Back to <%=username%>'s page</a>
</div>


<%- include ("../../partials/users/userFooter") %>