<%- include ("../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>This is the recommendations page of <%=username%></h1>
</div>

<table class="table userRecommendationsTableBody">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% userRecommendations.forEach((recommendation) => { %>
            <tr>
                <td scope="row"><%=recommendation.recommendationDate%></td>
                <td><%=recommendation.status%></td>
                <td> <a class="recommendationAnchorTag" href="/users/<%=username%>/recommendations/<%=recommendation._id%>"><%=recommendation.name%></a></td>
                <td><%=recommendation.duration%></td>
                <% if(recommendation.status === "future") { %>
                    <td><a href="/recommendations/<%=recommendation._id%>/edit"><i class="fas fa-edit"></i></a></td>
                    <form class="delete-form" id="delete-form" action="/users/<%=username%>/<%=recommendation._id%>?_method=DELETE" method="POST">
                        <td><i class="fas fa-trash-alt"></i></td>
                    </form>

                <% } else { %>
                    <td> <i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash-alt"></i></td>
                <% } %>
            </tr>
        <% }); %>
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-success" role="button" href="/users/<%=username%>">Back to <%=username%>'s page</a>
</div>


<%- include ("../../partials/users/userFooter") %>