<%- include("../partials/header") %>

<!-- Update this page -->

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 title text-center"><p><strong>We have gone through <%=pastDays.length%> days of the present cycle</strong></p></div>
  <div class="col-1"></div>
</div>

<div class="container text-center content">
    <p> This project works as follows: each day starts at 8:08, wherever you are, with a recommendation of a movie. After that, we fill the rest of the day
        with music recommendations that people from our community have shared, until we get to next day's movie. If you want to check out what happened in a certain
        date, feel free to click on that day's movie name and you will be teleported to that day's schedule.
    </p>
    <br>
    <p>
        Enjoy our collective creation and the most diverse recommendation algorythm in the world.
    </p>
</div>

  <div class="row">
    <div class="col-12">
      <table class="table content">
        <thead>
          <tr>
            <th scope="col">Day Index</th>
            <th scope="col">Day SKU</th>
            <th scope="col">First Recommendation of This Day</th>
            <th scope="col">Number of Music Videos</th>
          </tr>
        </thead>
        <tbody>
          <% pastDays.forEach(function(element){ %>
            <tr>
              <td><%= element.dayIndex %></td>
              <td><a href="/days/<%=element._id%>"><%= element.daySKU %></a></td>
              <td><%= element.recommendationsOfThisDay[0].name %></td>
              <td><%= element.totalRecommendationsOfThisDay %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
      <a href="/cycles" class="btn btn-primary" role="button">View all cycles</a>
  </div>
</div>

<%- include("../partials/footer") %>