<%- include("../partials/newHeader") %>
  
<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
            <p><strong><p><strong>This is day number <%= thisDay.dayIndex %> of this project - <%= thisDay.daySKU %></strong></p></strong></p>         
            
            <table class="table content">
              <thead>
                <tr>
                  <th scope="col">User</th>
                  <th scope="col">Date of Recommendation</th>
                  <th scope="col">Name</th>
                  <th scope="col">Time Played</th>
                  <% if(currentUser){ %>
                    <th scope="col">Add to Favorites</th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% thisDay.recommendationsOfThisDay.forEach(function(recommendation){ %>
                  <% if(recommendation.status !== "future"){ %>
                    <tr>
                      <td> <a href="/users/<%= recommendation.author.username %>">@<%= recommendation.author.username %></a></td>
                      <td><%= recommendation.recommendationDate %></td>
                      <td><a href="/recommendations/<%=recommendation._id%>"><%= recommendation.name %></a></td>
                      <td><%= (new Date(recommendation.startingRecommendationTimestamp)).toUTCString().substring(17,25) %></td>
                      <% if(currentUser){ %>
                        <td><i class="far fa-gem"></i></td>
                      <% } %>
                    </tr>
                  <% } %>
                <% }) %>
              </tbody>
            </table>

            <div class="text-center">
              <a class="btn btn-primary" role="button" href="/past">Back to the Past</a>
            </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>
