<%- include("../partials/header") %>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 title text-center"><p><strong>This is day number <%= thisDay.dayIndex %> of this project</strong></p></div>
  <div class="col-1"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table content">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Date of Recommendation</th>
            <th scope="col">Name</th>
            <th scope="col">Date Played</th>
          </tr>
        </thead>
        <tbody>
          <% thisDay.recommendationsOfThisDay.forEach(function(recommendation){ %>
            <% if(recommendation.status !== "future"){ %>
              <tr>
                <td> <a href="/users/<%= recommendation.author.username %>">@<%= recommendation.author.username %></a></td>
                <td><%= recommendation.recommendationDate %></td>
                <td><a href="/recommendations/<%=recommendation._id%>"><%= recommendation.name %></a></td>
                <td><%= recommendation.startingRecommendationTimestamp %></td>
              </tr>
            <% } %>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="text-center">
  <a class="btn btn-primary" role="button" href="/past">Back to the Past</a>
</div>


<%- include("../partials/footer") %>