<%- include("../partials/header") %>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan" class="activeTense"><a href="/past">PASADO</a></span><span id="presentSpan" ><a href="/">PRESENTE</a></span><span id="futureSpan"><a href="/future">FUTURO</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>
  
<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
            <p><strong><p><strong>Este es el día número <%= thisDay.dayIndex %> de este proyecto - <%= thisDay.daySKU %></strong></p></strong></p>         
            
            <table class="table content">
              <thead>
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Fecha de Recomendación</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Momento de Reproducción</th>
                </tr>
              </thead>
              <tbody>
                <% thisDay.recommendationsOfThisDay.forEach(function(recommendation){ %>
                  <% if(recommendation.status !== "inTheLimbo"){ %>
                    <tr>
                      <td> <a href="/users/<%= recommendation.author.username %>">@<%= recommendation.author.username %></a></td>
                      <td><%= recommendation.recommendationDate %></td>
                      <td><a href="/recommendations/<%=recommendation._id%>"><%= recommendation.name %></a></td>
                      <td><%= (new Date(recommendation.startingRecommendationTimestamp)).toUTCString().substring(17,25) %></td>
                    </tr>
                  <% } %>
                <% }) %>
              </tbody>
            </table>

            <div class="text-center">
              <a class="btn btn-primary" role="button" href="/past">Volver al Pasado</a>
            </div>
        
    </div>
    <div class="column right"></div>
</div>

<div class="footer">
  <% if (!currentUser){ %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
  <% } %>
  <% if (currentUser) { %>
      <a href="/logout">Log Out</a>
      <a href="/users/<%=currentUser.username%>">@<span id="currentUserSpan"><%=currentUser.username%></span></a>
  <% } %>
  <a href="/recommendations/new">Add Recommendation</a>
  <a id="emailTag" href="mailto:hola@human-music.com">hola@human-music.com</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/randomScript.js"></script>
</body>
</html>
