<%- include("./partials/header") %>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 title text-center"><p><strong>All the project historical recommendations:</strong></p></div>
  <div class="col-1"></div>
</div>

<div class="container text-center content">
    <p> This project works as follows: each day starts at 8:08, wherever you are, with a recommendation of a movie. After that, we fill the rest of the day
        with music recommendations that people from our community have shared, until we get to next day's movie. If you want to check out what happened in a certain
        date, feel free to click on that day's movie name and you will be teleported to that day's schedule.
    </p>
    <br>
    <p>
        Enjoy our collective creation and the most diverse music recommendation algorythm in the world.
    </p>
    <a href="days">Go to days</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table content">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Name [With the URL inside]</th>
          </tr>
        </thead>
        <tbody>
          <% pastRecommendations.forEach(function(element){ %>
            <tr>
              <td><%=element.index%></td>
              <td><a href="/users/<%=element.author.username%>">@<%=element.author.username%></a></td>
              <td><%=element.date%></td>
              <td><a target="_blank" href="<%=element.url%>"><%=element.name%></a></td> 
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if(!currentUser){ %>
    <div class="container text-center">
      <a href="/login" class="btn btn-primary btn entranceButton" role="button">Login</a>
      <a href="/register" class="btn btn-primary btn entranceButton" role="button">Register</a>
    </div>
  <% } %>

<%- include("./partials/footer") %>