<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/pastStyle.css">
    <title>Human Music</title>
</head>
<body>

<div class="container text-center" id="topNavbar">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past"><strong>PASADO</strong></a></span><span id="presentSpan"><a href="/">PRESENTE</a></span><span id="futureSpan"><a href="/future">FUTURO</a></span></p>
    </div>
    <div class="clock">
        <p><span id="daySKU" data-chi="<%=thisDay.chiDurationForThisDay%>" data-startingTimestamp="<%=thisDay.startingDayTimestamp%>"><%= today %></span> | <span id="presentClock">88:88:88</span></p>
        <p id="recommendationsIDS" data-youtube="<%=recommendationIDS%>" style="display: none;"></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="iFrameContainer" id="mediaContainer">
            <iframe id="presentPlayer" width="640" height="360"
            src="https://www.youtube.com/embed/<%= presentRecommendation.youtubeID %>?start=0&autoplay=1&enablejsapi=1&mute=1"
            style="border: solid 4px #37474F"
            allow="autoplay"
            ></iframe>
        </div>

        <div class="controls" id="controlsDiv">
            <button class="btn btn-success btn-sm" id="addFavoriteButton" style="display: none;">Agregar a Favoritos</button>
            <button class="btn btn-danger btn-sm" id="removeFavoriteButton" style="display: none;">Quitar de Favoritos</button>
            <% if(!currentUser){ %>
                <a class="btn btn-success btn-sm" href="/login">Favoritos</a>
            <% } %>
            <button class="btn btn-dark btn-sm" id="fullscreenButton">Fullscreen</button>
            <button class="btn btn-dark btn-sm" id="volumeDisplay"><span id="volumeIcon"><i class="fas fa-volume-mute"></i></span> <span id="currentVolume">00</span></button>
            <input id="vol-control" type="range" min="0" max="100" value="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></input>
        </div>
        <div>
            <h3>Day Progress</h3>
            <input id="dayTime" type="range" value="<%=presentRecommendation.startingRecommendationTimestamp%>" min="<%=startingTimestamp%>" max="<%=endingTimestamp%>" step="1000" oninput="dayTimeChange(this.value)" onchange=""></input>
        </div>

        <hr>
        <div id="presentRecommendationInformation">
            <p><strong>Usuario: </strong>@<span id="username"><%= presentRecommendation.author.username %></span></p>
            <p><strong>País: </strong><span id="userCountry"><%= presentRecommendation.author.country %></span></p>
            <p><strong>Fecha de Recomendación: </strong><span id="dateOfRecommendation"><%= presentRecommendation.recommendationDate %></span></p>
            <p><strong>Nombre: </strong><span id="recommendationName"><%= presentRecommendation.name %></span></p>
            <p><strong>Por qué recomendaste esto?: </strong><span id="recommendationDescription"><%= presentRecommendation.description %></span></p>
            <p style="display: none;"><strong>Youtube ID: </strong><span id="recommendationYoutubeID"><%= presentRecommendation.youtubeID %></span></p>
        </div>

        <div id="voidInformation" style="display: none;">
            <p><strong><span id="nasaTitle"></span></strong></p>
            <p><strong>Fecha: </strong><span id="nasaDate"></span></p>
            <p><strong>Explicación: </strong><span id="nasaExplanation"></span></p>
        </div>
        <hr>

        <table class="table content">
            <thead>
              <tr id="headersRow">
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Duration</th>
                <th style="display: none;" scope="col">Youtube ID</th>
                <th style="display: none;" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% thisDay.recommendationsOfThisDay.forEach(function(recommendation){ %>
                  <tr class="recommendationRow">
                    <td> <a href="/users/<%= recommendation.author.username %>">@<%= recommendation.author.username %></a></td>
                    <td><a href="#" class="recommendationName" ><%= recommendation.name %></a></td>
                    <td><%= recommendation.duration %></td>
                    <td style="display: none;"><%=recommendation.youtubeID%></td>
                    <td style="display: none;"><%= recommendation.status %></td>
                  </tr>
              <% }) %>
            </tbody>
          </table>
    </div>
    <div class="column right"></div>
</div>
<div class="footer">
    <% if (!currentUser){ %>
        <a href="/login">Iniciar Sesión</a>
        <a href="/register">Registrarse</a>
        <p id="userLogged" style="display: none;">No</p>
    <% } %>
    <% if (currentUser) { %>
        <a href="/logout">Cerrar Sesión</a>
        <a href="/users/<%=currentUser.username%>">@<span id="currentUserSpan"><%=currentUser.username%></span></a>
        <p id="userLogged" style="display: none;">Yes</p>
    <% } %>
    <a href="/recommendations/nueva">Agregar Recomendación</a>
    <a href="/future/feedback">Feedback</a>
    <a href="/future/nextsteps">Ayudar</a>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/pastScript.js"></script>
</body>
</html>