<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/newPresentStyle.css">
    <title>Human Music</title>
</head>
<body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Agregar una Nueva Recomendación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="POST" id="newRecommendationForm">
                <% if(!currentUser){ %>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="username" class="content">Nombre</label>
                                <input class="form-control" placeholder="Name" id="username" type="text" name="username">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="country" class="content">Pais</label>
                                <input class="form-control" placeholder="Country" id="country" type="text" name="country">
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <label for="videoURL" class="col-form-label">URL de Youtube de la Recomendación [https://www.youtube.com/watch?v=ZOu3aJ8RDqw]:</label>
                    <input class="form-control" id="videoURL" type="text" name="url">
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea" class="col-form-label">Qué significa esta pieza para ti?</label>
                    <textarea class="form-control" rows="10" cols="33" id="descriptionTextArea" name="description"></textarea>
                </div>
                <div class="form group">
                    <label for="userCheckbox" class="col-form-label">Fue creada por ti?</label>    
                    <input type="checkbox" id="userCheckbox" name="wasCreatedByUser" value="true">
                </div>
                <div class="form group"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar Recomendación</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PASADO</a></span><span id="presentSpan" class="activeTense"><a href="/">PRESENTE</a></span><span id="futureSpan"><a href="/future">FUTURO</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="iFrameContainer" id="mediaContainer">
            <iframe id="presentPlayer" width="640" height="360"
            src="https://www.youtube.com/embed/<%= presentRecommendation.youtubeID %>?start=<%=elapsedSeconds%>&autoplay=1&enablejsapi=1&mute=1&controls=0"
            style="border: solid 4px #37474F"
            allow="autoplay"
            ></iframe>
        </div>

        <div class="controls" id="controlsDiv" style="visibility: hidden;">
            <button class="btn btn-success btn-sm" id="addFavoriteButton" style="display: none;">Agregar a Favoritos</button>
            <button class="btn btn-danger btn-sm" id="removeFavoriteButton" style="display: none;">Quitar de Favoritos</button>
            <% if(!currentUser){ %>
                <a class="btn btn-success btn-sm" href="/login">Favoritos</a>
            <% } %>
            <!-- <button class="btn btn-dark btn-sm" id="muteButton" style="visibility: hidden;">(un)Mute</button> -->
            <button class="btn btn-dark btn-sm" id="fullscreenButton" style="visibility: hidden;">Fullscreen</button>
            <!-- <button class="btn btn-dark btn-sm" id="volumeDown" style="visibility: hidden;"><i class="fas fa-volume-down"></i></button> -->
            <button class="btn btn-dark btn-sm" id="volumeDisplay" style="visibility: hidden;"><span id="volumeIcon"><i class="fas fa-volume-mute"></i></span> <span id="currentVolume">00</span></button>
            <!-- <button class="btn btn-dark btn-sm" id="volumeUp" style="visibility: hidden;"><i class="fas fa-volume-up"></i></button> -->
            <input id="vol-control" type="range" min="0" max="100" value="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></input>
        </div>

        <p id="recommendationBottomMessage">Esta recomendación termina a las: <%= endingTime %></p>
        <hr>
        <div id="presentRecommendationInformation">
            <p><strong>Usuario: </strong>@<span id="username"><%= presentRecommendation.author.username %></span></p>
            <p><strong>País: </strong><span id="userCountry"><%= presentRecommendation.author.country %></span></p>
            <p><strong>Fecha de Recomendación: </strong><span id="dateOfRecommendation"><%= presentRecommendation.recommendationDate %></span></p>
            <p><strong>Nombre: </strong><span id="recommendationName"><%= presentRecommendation.name %></span></p>
            <p><strong>Por qué recomendaste esto?: </strong><span id="recommendationDescription"><%= presentRecommendation.description %></span></p>
        </div>

        <div id="voidInformation" style="display: none;">
            <p><strong><span id="nasaTitle"></span></strong></p>
            <p><strong>Fecha: </strong><span id="nasaDate"></span></p>
            <p><strong>Explicación: </strong><span id="nasaExplanation"></span></p>
        </div>
    </div>
    <div class="column right"></div>
</div>
<div class="footer">
    <% if (!currentUser){ %>
        <a href="/login">Iniciar Sesión</a>
        <a href="/register">Registrarse</a>
    <% } %>
    <% if (currentUser) { %>
        <a href="/logout">Cerrar Sesión</a>
        <a href="/users/<%=currentUser.username%>">@<span id="currentUserSpan"><%=currentUser.username%></span></a>
    <% } %>
    <a href="/recommendations/nueva">Agregar Recomendación</a>
    <a href="/future/feedback">Feedback</a>
    <a href="/future/nextsteps">Ayudar</a>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/presentScript.js"></script>
</body>
</html>