<%- include("./partials/header") %>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 title text-center"><p><strong>This is the Past</strong></p></div>
  <div class="col-1"></div>
</div>

<div class="container text-center content">
    <p>If you want to add a recommendation to the future so that it can afterwards be part of this past, <a href="/recommendations/new">click here.</a></p>
    <br>
    <p>
        Enjoy our collective creation and the most diverse recommendation algorythm in the world. 
    </p>
    <p>The present cycle consists of X days.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table content">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Film of This Day</th>
            <th scope="col">Total Recommendations</th>
          </tr>
        </thead>
        <tbody>
          <% days.reverse().forEach(function(day){ %>
            <tr>
              <td><%= day.dayIndex %></td>
              <td><%= day.daySKU %></td>
              <td><%= day.status %></td>
              <td><a href="/days/<%= day.daySKU %>"><%= day.recommendationsOfThisDay[0].name %></a></td>
              <td><%= day.totalRecommendationsOfThisDay %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>