<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Human Music BETA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Share+Tech+Mono'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

  <nav class="navbar navbar-expand bg-light justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/past" role="button" aria-haspopup="true" aria-expanded="false">
            PAST
          </a>
        </li>
  
        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">
            PRESENT
          </a>
          <p class="text-center theClock"><%=today%> | <span id="presentTime">WELCOME BACK</span></p>
        </li>

        <li class="nav-item dropdown btn-margin">
          <a class="nav-link navbarDropdown" href="/future" role="button" aria-haspopup="true" aria-expanded="false">
            FUTURE
          </a>
        </li>
      </ul> 
  </nav>
  
<div class="container">

  <div class="row">
    <div class="col-12 clock">
      <p class="text">Welcome to Human Music</p>
      <p class="text">A temple for what makes us human</p>
      <p class="text">A place for those who embrace the unknown</p>
      <p class="text">A space to dis/<strong>connect with yourself and evolve</strong></p>
    </div>
  </div>

  <% if(presentRecommendation.type === "music"){ %>
    <div class="row">
      <div class="col-12">
        <div class="text-center recommendationFrame">
            <iframe id="existing-iframe-example" 
            width="640" height="360"
            src="<%=presentRecommendation.url%>&start=<%=elapsedSeconds%>&mute=0" 
            allow="autoplay" autoplay="1"
            frameborder="0"
            style="border: solid 4px #37474F"
            ></iframe>
        </div>
      </div>
    </div>
  <% } %>

  <% if(presentRecommendation.type === "film"){ %>
    <div class="row">
      <div class="col-12">
        <div class="text-center recommendationFrame">
            <img src="<%=presentRecommendation.imageURL%>" alt="" class="presentFilmImage">
        </div>
      </div>
    </div>
  <% } %>

<div class="row">
  <div class="col"></div>
  <div class="col-8">
    <div id="countdownClockDiv">
      <p class="content text-center" id="endingTimeTag"> <span onclick="bookmark()"><i class="fas fa-bookmark"></i> Bookmark</span>     -     This recommendation ends at <%=endingTime%></p>
    </div>
  </div>
  <div class="col"></div>
</div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 userinformation">
        
        <p><strong>User:</strong><a href="/users/<%= presentRecommendation.author.username %>"> <%= presentRecommendation.author.username %></a></p>
        <p><strong>Country of Identification:</strong> <%= presentRecommendation.author.country %></p>
        <p><strong>Date of Recommendation:</strong> <%= presentRecommendation.recommendationDate %> </p>
        <p><strong>Name:</strong> <%= presentRecommendation.name %> </p>
        <br>
        <p><strong>Why did you recommend it?:</strong> <%= presentRecommendation.description %></p>
    </div>
    <div class="col-2"></div>
  </div>

  <div style="visibility: hidden;">
    <span id="recommendationDuration"><%=presentRecommendation.duration%></span>
    <span id="startingTimestamp"><%=presentRecommendation.startingRecommendationTimestamp%></span>
  </div>

</div>

<div class="footerDiv">
  <div class="container text-center">
    <p>This project is in memory of David Foster Wallace and all of those that have left us on the fight of their own demons.</p>
    <div class="row">
        <div class="col">
          <form action="" class="language-picker__form">
            <label for="language-picker-select">Language</label>
        
            <select name="language-picker-select" id="language-picker-select" class="languagePicker">
              <option value="AF">Afrikaans</option>
              <option value="SQ">Albanian</option>
              <option value="AR">Arabic</option>
              <option value="HY">Armenian</option>
              <option value="EU">Basque</option>
              <option value="BN">Bengali</option>
              <option value="BG">Bulgarian</option>
              <option value="CA">Catalan</option>
              <option value="KM">Cambodian</option>
              <option value="ZH">Chinese (Mandarin)</option>
              <option value="HR">Croatian</option>
              <option value="CS">Czech</option>
              <option value="DA">Danish</option>
              <option value="NL">Dutch</option>
              <option value="EN">English</option>
              <option value="ET">Estonian</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finnish</option>
              <option value="FR">French</option>
              <option value="KA">Georgian</option>
              <option value="DE">German</option>
              <option value="EL">Greek</option>
              <option value="GU">Gujarati</option>
              <option value="HE">Hebrew</option>
              <option value="HI">Hindi</option>
              <option value="HU">Hungarian</option>
              <option value="IS">Icelandic</option>
              <option value="ID">Indonesian</option>
              <option value="GA">Irish</option>
              <option value="IT">Italian</option>
              <option value="JA">Japanese</option>
              <option value="JW">Javanese</option>
              <option value="KO">Korean</option>
              <option value="LA">Latin</option>
              <option value="LV">Latvian</option>
              <option value="LT">Lithuanian</option>
              <option value="MK">Macedonian</option>
              <option value="MS">Malay</option>
              <option value="ML">Malayalam</option>
              <option value="MT">Maltese</option>
              <option value="MI">Maori</option>
              <option value="MR">Marathi</option>
              <option value="MN">Mongolian</option>
              <option value="NE">Nepali</option>
              <option value="NO">Norwegian</option>
              <option value="FA">Persian</option>
              <option value="PL">Polish</option>
              <option value="PT">Portuguese</option>
              <option value="PA">Punjabi</option>
              <option value="QU">Quechua</option>
              <option value="RO">Romanian</option>
              <option value="RU">Russian</option>
              <option value="SM">Samoan</option>
              <option value="SR">Serbian</option>
              <option value="SK">Slovak</option>
              <option value="SL">Slovenian</option>
              <option value="ES">Spanish</option>
              <option value="SW">Swahili</option>
              <option value="SV">Swedish </option>
              <option value="TA">Tamil</option>
              <option value="TT">Tatar</option>
              <option value="TE">Telugu</option>
              <option value="TH">Thai</option>
              <option value="BO">Tibetan</option>
              <option value="TO">Tonga</option>
              <option value="TR">Turkish</option>
              <option value="UK">Ukrainian</option>
              <option value="UR">Urdu</option>
              <option value="UZ">Uzbek</option>
              <option value="VI">Vietnamese</option>
              <option value="CY">Welsh</option>
              <option value="XH">Xhosa</option>
            </select>
          </form>
        </div>
      <% if (!currentUser){ %>
        <div class="col"><a href="/login">Log In  </a>  /  <a href="/register">  Register</a></div>
        <div class="col"><a href="/recommendations/new">Add Recommendation</a></div>
        <div class="col"><a href="/about">About</a></div>
      <% } %>
      <% if (currentUser) { %>
        <div class="col"><p><a href="/users/<%=currentUser.username%>">@<%=currentUser.username%></a></p></div>
        <div class="col"><a href="/recommendations/new">Add Recommendation</a></div>
        <div class="col"><a href="/logout">Log Out</a></div>
        <div class="col"><a href="/about">About</a></div>
      <% } %>
    </div>
  </div>
</div>

<script src='/scripts/presentScript.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
    
</html>

