<%- include("../partials/header") %>

<!-- Update this page -->

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 title text-center"><p><strong><%=cycle.cycleName%></strong></p></div>
  <div class="col-1"></div>
</div>

<div class="container text-center content">
    <p> This cycle's name is inspired in David Foster Wallace's book "The Infinite Jest". The action happens within different time frames, and each of
      those is a year that is sponsored by a certain brand. 
    </p>
    <p>
      This cycle started on the <%= startingDate %> of occidental human time, and it will last until the <%= endingDate %>.
    </p>
    <br>
    <p>
        Enjoy our collective creation and the most diverse recommendation algorythm in the world.
    </p>

  <div class="row">
    <div class="col-12">
      <table class="table content">
        <thead>
          <tr>
            <th scope="col">Day Index</th>
            <th scope="col">Day SKU</th>
            <th scope="col">Number of Music Videos</th>
          </tr>
        </thead>
        <tbody>
          <% days.forEach(function(element){ %>
            <tr>
              <td><%= element.dayIndex %></td>
              <td><a href="/days/<%=element._id%>"><%= element.daySKU %></a></td>
              <td><%= element.totalRecommendationsOfThisDay %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <a class="btn btn-primary" role="button" href="/past">Back to the Past</a>  
</div>

<%- include("../partials/footer") %>