<%- include ("../../../partials/users/userHeader") %>

<div class="container text-center">
    <h1><%=dailie.name%></h1>
    <p><%=dailie.date%></p>
    <br>
    <p><%=dailie.description%></p>
</div>

<div class="text-center dojoBackButton">
    <form class="delete-form" id="delete-form" action="/users/<%=username%>/dojo/dailies/<%=dailie._id%>?_method=DELETE" method="POST">
        <a class="btn btn-warning" role="button" href="/users/<%=username%>/dojo/dailies/<%=dailie._id%>/edit">Edit dailie</a>
        <a class="btn btn-success" role="button" href="/users/<%=username%>/dojo">Back to the Dojo</a>
        <td><button type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></td>
    </form>
</div>

<%- include ("../../../partials/users/userFooter") %>