<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/newPresentStyle.css">
    <title>Human Music</title>
</head>
<body>

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>If you have an account, here you can login. If not, you can register <a href="/register">here</a></h5>
                <form action="/login" method="POST">
                    <div class="row align-items-center">
                        <div class="col-12" style="margin-bottom: 16px;">
                            <label for="loginUsername" class="clock">Username</label>
                            <input type="text" name="username" placeholder="kishan" id="loginUsername" required>
                            <label for="loginPassword" class="clock">Password</label>
                            <input type="password" name="password" placeholder="Password" id="loginPassword" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">Login</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Add New Recommendation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="POST">
                <div class="form-group">
                    <label for="videoURL" class="col-form-label">Youtube URL of your recommendation [https://www.youtube.com/watch?v=ZOu3aJ8RDqw]:</label>
                    <input class="form-control" id="videoURL" type="text" name="url">
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea" class="col-form-label">What does this piece mean to you?</label>
                    <textarea class="form-control" rows="10" cols="33" id="descriptionTextArea" name="description"></textarea>
                </div>
                <div class="form group">
                    <label for="userCheckbox" class="col-form-label">Was this created by you?</label>    
                    <input type="checkbox" id="userCheckbox" name="wasCreatedByUser" value="true">
                </div>
                <div class="form group"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Recommendation</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PAST</a></span><span id="presentSpan"><a href="/">PRESENT</a></span><span id="futureSpan" class="activeTense"><a href="/future">FUTURE</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Feedback</strong></p>     

      <table class="table content">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Feedback</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% foundFeedbacks.reverse().forEach(function(feedback){ %>
            <tr>
              <td><%= feedback.author.username %></td>
              <td><%= feedback.message.substring(0,33) %> [...]</td>
              <td><a href="/future/feedback/<%=feedback._id%>"><%= feedback.messageDate %></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <a class="btn btn-primary btn-sm" role="button" href="/future/feedback/new">Add new feedback</a>
      <a class="btn btn-success btn-sm" role="button" href="/future">Back to the future</a>

    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>
