<%- include("../partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Feedback</strong></p>     

      <table class="table content">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Feedback</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% foundFeedbacks.reverse().forEach(function(feedback){ %>
            <tr>
              <td><%= feedback.author.username %></td>
              <td><%= feedback.message.substring(0,33) %> [...]</td>
              <td><a href="/future/feedback/<%=feedback._id%>"><%= feedback.messageDate %></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <a class="btn btn-primary btn-sm" role="button" href="/future/feedback/new">Add new feedback</a>
      <a class="btn btn-success btn-sm" role="button" href="/future">Back to the future</a>

    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>
