<%- include("../partials/header") %>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PASADO</a></span><span id="presentSpan"><a href="/">PRESENTE</a></span><span id="futureSpan" class="activeTense"><a href="/future">FUTURO</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
      <p><strong>Feedback</strong></p>     

      <table class="table content">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Feedback</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <% foundFeedbacks.reverse().forEach(function(feedback){ %>
            <tr>
              <td><%= feedback.author.username %></td>
              <td><%= feedback.message.substring(0,33) %> [...]</td>
              <td><a href="/future/feedback/<%=feedback._id%>"><%= feedback.messageDate %></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <a class="btn btn-primary btn-sm" role="button" href="/future/feedback/new">Agregar Nuevo Feedback</a>
      <a class="btn btn-success btn-sm" role="button" href="/future">Volver al Futuro</a>

    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/footer") %>
