<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation History</title>
    <link rel="stylesheet" href="../../public/stylesheets/recommendationHistory.css">
</head>
<body>
    <h1>Here are all the recommendations that are in the DB. The total duration of the future recommendations is: X days</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Author</th>
            <th>Name</th>
            <th>Status</th>
            <th>Recommendation Date</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i=0; i<recommendations.length; i++){ %>
            <tr>
                <td><%=i%></td>
                <td><a href="/users/<%=recommendations[i].author.username%>"><%=recommendations[i].author.username%></a></td>
                <td><a href="/recommendations/<%=recommendations[i]._id%>"><%=recommendations[i].name%></a></td>
                <td><%=recommendations[i].status%></td>
                <td><%=recommendations[i].recommendationDate%></td>
                <td><%=recommendations[i].duration%></td>
            </tr>
        <% }; %>
    </tbody>
</table>
</body>
</html>


