<%- include("../partials/newHeader") %>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
        <h1>Add new music to the future</h1>
        <div class="row">
            <div class="col-7">
                <iframe id="newRecommendationIframe" 
                width="395" height="222"
                src="https://www.youtube.com/embed/SZxrMwtBZaY" 
                allow="autoplay" autoplay="1"
                frameborder="0"
                style="border: solid 4px #37474F"
                ></iframe>
                <div class="userinformation">
                    <% if(user){ %>
                        <p><strong>User:</strong> <a href="/users/<%=user._id%>">@<%= user.username %></a></p>
                        <p><strong>Country of Identification:</strong> <%=user.country%></p>
                    <% } else { %>
                        <p><strong>User:</strong><span > Unknown</span></p>
                        <p><strong>Country of Identification:</strong><span > Unknown</span></p>
                    <% } %>
                    <p><strong>Date of Recommendation:</strong> <%= today %></p>
                    <p><strong>Why did you recommend it?:</strong></p>
                    <div>
                        <p id="recommendationDescription"></p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <form action="/" method="POST">
    
                    <div class="form-group">
                        <label for="videoURL" class="content">Youtube URL of your recommendation [https://www.youtube.com/watch?v=ZOu3aJ8RDqw]:</label>
                        <input class="form-control" id="videoURL" type="text" name="url">
                    </div>
    
                    <div class="form-group">
                        <label for="descriptionTextArea" class="content">What does this piece mean to you?</label>
                        <textarea class="form-control" rows="10" cols="33" id="descriptionTextArea" name="description"></textarea>
                    </div>
    
                    <label for="userCheckbox" class="userInformation content">Was this created by you?</label>    
                    <input type="checkbox" id="userCheckbox" name="wasCreatedByUser" value="true">
    
                    <% if(user){ %>
                        <% if(user.username === "chocapec") { %>
                            <label for="typeOfRecommendation" class="userInformation content">Choose a type of recommendation (music/film):</label>
                            <select name="typeOfRecommendation" id="typeOfRecommendation">
                                <option value="music" selected="selected">Music</option>
                                <option value="film">Film</option>
                            </select>
                            <label for="filmDurationInput" class="content">Film duration in miliseconds:</label>
                            <input class="form-control" id="filmDurationInput" type="number" name="filmDuration">
                            <label for="filmName" class="content">Film name:</label>
                            <input class="form-control" id="filmName" type="string" name="filmName">
                        <% } %>
                    <% } %>
    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit!</button>
                        <a class="btn btn-primary" href="/"> Go Back</a>
                    </div>  
                </form>   
            </div>
        </div>
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/newFooter") %>
