<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/newPresentStyle.css">
    <title>Human Music BETA</title>
</head>
<body>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan"><a href="/past">PAST</a></span><span id="presentSpan"><a href="/">PRESENT</a></span><span id="futureSpan" class="activeTense"><a href="/future">FUTURE</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">
        <h5>Add new music to the future</h5>
        <h5>Example:</h5>
        <div class="row">
            <div class="col-sm-12">
                <div class="iFrameContainer" id="mediaContainer">
                    <iframe id="newRecommendationIframe" 
                    width="640" height="360"
                    src="https://www.youtube.com/embed/SZxrMwtBZaY" 
                    allow="autoplay" autoplay="1"
                    frameborder="0"
                    style="border: solid 4px #37474F"
                    ></iframe>
                </div>

                <div class="userinformation">
                    <% if(user){ %>
                        <p><strong>User:</strong> <a href="/users/<%=user._id%>">@<%= user.username %></a></p>
                        <p><strong>Country of Identification:</strong> <%=user.country%></p>
                    <% } else { %>
                        <p><strong>User:</strong><span > Dave Concord</span></p>
                        <p><strong>Country of Identification:</strong><span > USA</span></p>
                    <% } %>
                    <p><strong>Date of Recommendation:</strong> <%= today %></p>
                    <p><strong>Why did you recommend it?:</strong> The first time I listened to this I realized that there is something deep and 
                    important in the listening of music that has been created with the infinity in mind. It transported me to a place that felt good.</p>
                    <div>
                        <p id="recommendationDescription"></p>
                    </div>
                </div>
            </div>
            <h4>Your Recommendation:</h4>
            <div class="col-sm-12">
                <form action="/" method="POST">
                    <% if(!currentUser){ %>
                        <div class="row">
                            <div class="col-6 col-sm-12">
                                <div class="form-group">
                                    <label for="username" class="content">Name</label>
                                    <input class="form-control" placeholder="Name" id="username" type="text" name="username">
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="form-group">
                                    <label for="country" class="content">Country</label>
                                    <input class="form-control" placeholder="Country" id="country" type="text" name="country">
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <label for="videoURL" class="content">Youtube URL of your recommendation [https://www.youtube.com/watch?v=ZOu3aJ8RDqw]:</label>
                        <input class="form-control" placeholder="https://www.youtube.com/watch?v=ZOu3aJ8RDqw" id="videoURL" type="text" name="url">
                    </div>
    
                    <div class="form-group">
                        <label for="descriptionTextArea" class="content">What does this piece mean to you?</label>
                        <textarea class="form-control" rows="10" cols="33" id="descriptionTextArea" name="description"></textarea>
                    </div>
    
                    <label for="userCheckbox" class="userInformation content">Was this created by you?</label>    
                    <input type="checkbox" id="userCheckbox" name="wasCreatedByUser" value="true">
    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit!</button>
                        <a class="btn btn-primary" href="/"> Go Back</a>
                    </div>  
                </form>   
            </div>
        </div>
    </div>
    <div class="column right"></div>
</div>

<div class="footer">
    <% if (!currentUser){ %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
    <% if (currentUser) { %>
        <a href="/logout">Log Out</a>
        <a href="/users/<%=currentUser.username%>">@<span id="currentUserSpan"><%=currentUser.username%></span></a>
    <% } %>
    <a href="#" data-toggle="modal" data-target="#exampleModal">Add Recommendation</a>
    <a href="/about">About</a>
    <a href="/future/feedback">Feedback</a>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/scripts.js"></script>
</body>
</html>
