<%- include("../partials/header") %>

<div class="container text-center">
    <div class="navigationBar">
        <p><span id="pastSpan" class="activeTense"><a href="/past">PAST</a></span><span id="presentSpan"><a href="/">PRESENT</a></span><span id="futureSpan"><a href="/future">FUTURE</a></span></p>
    </div>
    <div class="clock">
        <p><%= today %> | <span id="presentClock">88:88:88</span></p>
    </div>
</div>

<div class="box">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="iFrameContainer" id="mediaContainer">
            <iframe id="presentPlayer" width="640" height="360"
            src="https://www.youtube.com/embed/<%= recommendation.youtubeID %>"
            style="border: solid 4px #37474F"
            allow="autoplay"
            ></iframe>
        </div>

        <div class="controls" id="controlsDiv" style="visibility: hidden;"> 
            <button class="btn btn-success btn-sm" id="addFavoriteButton" style="display: none;">Add to Favorites</button>
            <button class="btn btn-danger btn-sm" id="removeFavoriteButton" style="display: none;">Remove from Favorites</button>
            <% if(!currentUser){ %>
                <a class="btn btn-success" href="#" id="favoritesButton" data-toggle="modal" data-target="#loginModal">Favorites</a>
            <% } %>
            <a class="btn btn-warning btn-sm" href="/random">Random Recommendation</a>
        </div>
        <hr>
        <div id="recommendationInformation">
            <p><strong>User: </strong>@<span id="username"><%= recommendation.author.username %></span></p>
            <p><strong>Country: </strong><span id="userCountry"><%= recommendation.author.country %></span></p>
            <p><strong>Date of Recommendation: </strong><span id="dateOfRecommendation"><%= recommendation.recommendationDate %></span></p>
            <p><strong>Name: </strong><span id="recommendationName"><%= recommendation.name %></span></p>
            <p><strong>Why did you recommend it?: </strong><span id="recommendationDescription"><%= recommendation.description %></span></p>
        </div>
        <a href="/days/<%=recommendation.daySKU%>">Back to this Day</a>
    </div>
    <div class="column right"></div>
</div>

<div class="footer">
    <% if (!currentUser){ %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
    <% if (currentUser) { %>
        <a href="/logout">Log Out</a>
        <a href="/users/<%=currentUser.username%>">@<span id="currentUserSpan"><%=currentUser.username%></span></a>
    <% } %>
    <a href="/recommendations/new">Add Recommendation</a>
    <a id="emailTag" href="mailto:hola@human-music.com">hola@human-music.com</a>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/randomScript.js"></script>
</body>
</html>