<%- include ("../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>Welcome to <%=username%>'s Dojo</h1>
    <h3>This is the place where evolution is happening</h3>
    <div class="text-center">
        <a class="officeTags" href="/users/<%=username%>/office/introduction">Introduction</a><br>
        <a class="officeTags" href="/users/<%=username%>/office/quests">Quests</a><br>
        <a class="officeTags" href="/users/<%=username%>/office/ideas">Ideas</a><br>
        <a class="officeTags" href="/users/<%=username%>/office/dailies">Dailies</a><br>
        <a class="officeTags" href="/users/<%=username%>/office/advice">Advice</a>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-success" role="button" href="/users/<%=username%>">Back to <%=username%>'s page</a>
</div>

<%- include ("../../partials/users/userFooter") %>