<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center title">
            <h1>@<%= foundUser.username %></h1>
            <div class="container text-center content">
                <p>This is the personal page of <%=foundUser.name%>. Here's the contact information in case you want to keep in touch.</p>
                <p><strong>Country: </strong><%=foundUser.country%></p>
                <p><strong>Language: </strong><%=foundUser.language%></p>
                <p><strong>Email: </strong><%=foundUser.email%></p>
                <p><strong>Bio: </strong><%=foundUser.bio%></p>
            </div>
        </div>
    </div>
    <hr class="horizontalRule">


    <div class="row text-center">
        <div class="col"></div>
        <div class="col-4">
            <a class="btn btn-primary" role="button" href="/users/<%=foundUser.username%>/favorites">@<%=foundUser.username %>'s Favorite Recommendations</a>
            <br>
            <br>
            <p class="content">
                Here you can see which recommendations you have favorited.
            </p>
        </div>
        <div class="col-4">
            <a class="btn btn-success" role="button" href="/users/<%=foundUser.username%>/recommendations">@<%=foundUser.username %>'s Recommendations</a>
            <br>
            <br>
            <p class="content">
                Thank you for being an active part of our community.
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

<%- include("../partials/footer") %>