<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center title">
            <h1>@<%= foundUser.username %></h1>
            <div class="container text-center content">
                <p>This is your personal page</p>
            </div>
        </div>
    </div>
    <hr class="horizontalRule">
    <div class="row text-center">
        <div class="col"></div>
        <div class="col-4">
            <a class="btn btn-success" role="button" href="/users/<%=foundUser.username%>/recommendations">Recommendations</a>
            <br>
            <p class="content">
                Here you can see all the recommendations that @<%=foundUser.username%> has shared in this world. Thans you for being an active part
                of our community.
            </p>
        </div>
        <div class="col-4">
            <a class="btn btn-primary" role="button" href="/users/<%=foundUser.username%>/dojo">Dojo</a>
            <br>
            <p class="content"><strong>What is a dojo?</strong></p>
            <p class="content">
                It is a sacred place. It is the place where the individual goes to challenge himself. To stare at her weaknesses and make a conscious
                effort for overcoming them. What happens in the dojo is transformative, it involves a personal evolution which is not possible
                without the willpower of the individual.
            </p>
        </div>
        <div class="col"></div>
    </div>

    <!-- <div class="row">
        <div class="col-7 videoWrapper">
            <% source = recommendation.url + "?autoplay=1" %>
            <% src1 = source.slice(32) %>
            <% sourceFinal = "https://www.youtube.com/embed/" + src1 %>

            <iframe id="ytplayer" type="text/html" width="640" height="360"
        src="<%= sourceFinal %> >"
        frameborder="0"></iframe>
        
        </div>
        <div class="col-5 userDisplay">
            <div>
                    <p><strong>User: </strong><%= foundUser.username %></p>
                    <p><strong>Country of Identification: </strong> <%= foundUser.country %></p>
                    <p><strong>What do you want to share about you?:</strong></p>
                    <p><%=foundUser.bio%></p>
                    <p><strong><a href="/recommendations/<%=recommendation._id%>">Recommendation</a></strong></p>
                    <p>Send a message, start a conversation</p>
            </div>
        </div>
    </div> -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

<%- include("../partials/footer") %>