<%- include("../partials/header") %>
  
<div class="box" id="systemDisplay">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <div class="container text-center content">       
            <p>This is <strong><%=foundUser.name%>'s</strong> personal page.</p>
            <p><strong>País: </strong><%=foundUser.country%></p>
            <p><strong>Idioma: </strong><%=foundUser.language%></p>
            <p><strong>Email: </strong><%=foundUser.email%></p>
        </div>
        
        <div class="text-center">
            <a class="recommendationsLink" href="/users/<%=foundUser.username%>/favorites">@<%=foundUser.username %>'s favorite music</a>
            <a class="recommendationsLink" href="/users/<%=foundUser.username%>/recommendations">@<%=foundUser.username %>'s recommendations</a>
        </div>
        
    </div>
    <div class="column right"></div>
</div>

<%- include("../partials/footer") %>
