<%- include ("../../../partials/users/userHeader") %>

<div class="container text-center">
    <h1>Edit idea</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h3><%= idea.name %></h3>
            <p><%= idea.description %></p>
        </div>
        <div class="col-6">
            
            <form action="/users/<%=username%>/dojo/ideas/<%=idea._id%>?_method=PUT" method="POST"> 
                <div class="form-group">

                  <label for="ideaName" class="clock">What is the name of this idea?</label>
                  <input class="form-control" id="ideaName" type="text" name="name" value="<%=idea.name%>">

                  <label for="ideaDescription">Which is the idea that came to your mind?</label>
                  <textarea class="form-control" id="ideaDescription" name="description" rows="6"><%=idea.description%></textarea>

                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-success" role="button" href="/users/<%=username%>/dojo/ideas">Go back</a>
                </div>

            </form>

        </div>
    </div>
</div>

<%- include ("../../../partials/users/userFooter") %>